NEXT_PUBLIC_SANITY_PROJECT_ID=5exkp2or
NEXT_PUBLIC_SANITY_DATASET=production
NEXT_PUBLIC_SANITY_API_VERSION=2024-01-01

# Only needed if the Sanity dataset visibility is set to "private".
# Generate at https://www.sanity.io/manage -> project -> API -> Tokens
# (Viewer permission is enough for reads).
SANITY_API_READ_TOKEN=
